# todolist micro-service mysql
todolist-mysql:
  container_name: todolist-mysql
  image: xavmarc/todolist:latest
  restart: always
  environment:
    - URL_DB=${URL_DB}
  links:
    - mysql
  ports:
    - "8020:8020"
  command: -p 8020 -l info -d 2

# bdd mysql
mysql:
  container_name: todolist-mysql-db
  image: mysql:latest
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: password
    MYSQL_DATABASE: todolist
  ports:
    - "3306:3306"
